<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>推荐</title>
	<link href="css/mui.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/public.css">
</head>
<body>
	<div class="mui-content">



		<!-- 底部菜单 start -->
		<nav class="mui-bar mui-bar-tab" id="footer_menu">
			<a class="mui-tab-item" href="index">
				<svg class="icon icon_home" aria-hidden="true">
					<use xlink:href="#icon-home"></use>
				</svg>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item  mui-active" href="###">
				<svg class="icon icon_recommend" aria-hidden="true">
					<use xlink:href="#icon-recommend"></use>
				</svg>
				<span class="mui-tab-label">推荐</span>
			</a>
			<a class="mui-tab-item" href="community">
				<svg class="icon icon_community" aria-hidden="true">
					<use xlink:href="#icon-community"></use>
				</svg>
				<span class="mui-tab-label">社区</span>
			</a>
			<a class="mui-tab-item" href="user">
				<svg class="icon icon_user" aria-hidden="true">
					<use xlink:href="#icon-user"></use>
				</svg>
				<span class="mui-tab-label">我</span>
			</a>
		</nav>
		<!-- 底部菜单 end -->
	</div>

	<script src="js/mui.min.js"></script>
	<script src="js/urlUtil.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/util.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/iconfont.js"></script>
	<script src="js/public.js"></script>
</body>
</html>